@import "../abstracts/mixins";

// ============================================= LOGIN SCREEN
.about-container {
  display: none; // LOGIN SCREEN DISPLAY
  margin: 0 auto;
  width: 1100px;
  position: relative;

  .about-card {
    height: 80vh;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2 {
      padding-top: 10%;
    }
    span {
      color: #6200ee;
      font-weight: bolder;
    }
    .about-box {
      width: 220px;
      height: 220px;
      margin: 0px 15px;
      box-shadow: 2px 4px 15px 2px #a162fa1f;
      .leftaboutbox {
        @include left_nomargin;
      }
      .rightaboutbox {
        @include right_nomargin;
      }
      i {
        font-size: 3rem;
        padding: 5%;
        margin-top: 20%;
      }
    }
    .about-content-mid {
      width: 90%;
      margin-bottom: -15%;

      h2 {
        font-size: 2.4rem;
      }
    }
    .about-content-bot {
      text-align: center;
      width: 90%;
      display: flex;
      h2 {
        font-family: "Roboto", sans-serif;
      }
    }
  }
}
// ============================================= LOGIN SCREEN END
