:root {
  --dark-color-a: {#2b2e4a}
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

.wronganswer {
  background-color: red;
}

.correctanswer {
  background-color: green;
}

// BODY AND DARK MODE

body {
  background-color: white;
}

body {
  font-family: "Roboto", sans-serif;
}

body.light-theme h1, h2, h3, h4, h5, h6 {
  color: black;
}

body.light-theme p {
  color: black;
}

// DARK MODE START

body.dark-theme {
  background-color: #2b2e4a;
}

body.dark-theme h1, h2, h3, h4, h5, h6 {
  color: white;
}

body.dark-theme p {
  color: white;
}

body.welcomewhatsurname {
  color: black;
}

body.dark-theme .welcomewhatsurname {
  color: white;
}

// LOGIN SCREEN

body.dark-theme .login-button {
  background-color: #903749;
}

body.dark-theme .username-field {
  border: #903749 10px solid;
}

// QUIZ SCREEN

body.dark-theme .answer {
  color: white;
}

body.dark-theme span {
  color: white;
  font-family: "Roboto", sans-serif;

}