// ============================================= FAQ SCREEN
.faq-container {
  display: none; // LOGIN SCREEN DISPLAY
  margin: 0 auto;
  width: 900px;
  position: relative;
  height: 80vh;
  align-items: center;

  .faq-card {
    margin-top: 16vh;
    height: 80vh;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .faq-content-top {
      img {
        height: 300px;
      }
    }
    .faq-content-mid {
      width: 90%;
      margin-bottom: 2%;

      h2 {
        font-size: 2.4rem;
      }
      span {
        color: #6200ee;
        font-weight: bolder;
      }
    }
    .faq-content-bot {
      text-align: left;
      width: 90%;
      height: 60%;
    }
  }
}
// ============================================= LOGIN SCREEN END
