.home-button {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}
.home-button:hover {
  background: #5b5757bf;
}

.sound-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
