// ============================================= LOGIN SCREEN
.login-container {
  display: block; // LOGIN SCREEN DISPLAY
  margin: 15vh auto;
  width: 900px;
  height: 600px;
  position: relative;
  .login-card {
    height: 550px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2 {
      padding-top: 10%;
    }
    .login-content-top {
      margin-bottom: 0;
      width: 90%;
      background-image: url(../images/login_hero.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      background-position-y: center;
    }
    .login-content-mid {
      width: 90%;
      margin-bottom: -5%;

      h2 {
        font-size: 2.4rem;
      }
    }
    .login-content-bot {
      text-align: center;
      width: 90%;

      .username-field {
        width: 100%;
        height: 4.5rem;
        border: solid 1px #6200ee;
        border-radius: 5px;
        padding: 0px 10px;
        font-size: 1.7rem;
      }
      .username-field:focus {
        outline: none;
      }
      .username-field.dark-theme {
        background-color: #e84545;
      }
      .login-button {
        margin-top: 40px;
        width: 20%;
        height: 3.2rem;
        background-color: #6200ee;
        color: white;
        font-weight: 600;
        font-size: 1.3rem;
        border-radius: 18px;
        transition-duration: 0.8s;
      }
      button:hover {
        transition-duration: 0.8s;
        transform: scale(1.2);
      }
    }
  }
}
// ============================================= LOGIN SCREEN END
