// ============================================= HEADER SECTION
nav {
  display: block; // NAVIGATION WINDOW DISPLAY
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 20vw;
  height: 100vh;
  box-shadow: 2px 2px 10px rgba(110, 110, 110, 0.521);
  background-color: white;
  position: fixed;
  z-index: 99;
  .user-mini-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    .username-container {
      padding: 10px;
      img {
        width: 50px;
        height: 70px;
        background-color: white;
      }
      .target {
        color: #6200ee;
      }
    }
    .close-menu {
      padding-left: 20px;
      height: 50px;
      background-color: white;
    }
  }
  .menu-divider {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(167, 161, 161, 0.267);
  }
  ul {
    li {
      margin: 10px 0;
      padding: 0 10px;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: black;
      text-align: center;
      span {
        padding: 0 10px;
      }
    }
  }
}
.light-dark-mode {
  position: fixed;
  right: 10px;
  top: 10px;
}
.hamburger-menu {
  display: block; // HAMBURGER BUTTON DISPLAY
  color: rgb(58, 58, 58);
  background-color: white;
  font-size: 3rem;
  position: fixed;
  top: 10px;
  left: 10px;
}
// ============================================= End of layout for the header section
